@{
    ViewBag.Title = "About";
}
<style>
    #footers{
        position: fixed;
        bottom: 5px;
        width: 100%;
        left: 0px;
    }
</style>
<div class="goPropLogo">
    <img src="~/images/GoProplogo.png" alt="Logo"/>
</div>
<div class="container">
    <br />
    <h1>ABOUT US</h1>

    <br /><br />
    <p style="letter-spacing: 3px;">
        We are a boutique agency dedicated to partnering with you in solution
        management for sustainable business success. <br />Our tailored services prioritize
        understanding your needs and exceeding expectations, fostering strong client
        relationships along the way.<br /> Certified with the PPRA.
    </p><br />

    <h4>MISSION</h4>
    <p>
 
        Discovering your perfect home with ease.

    </p><br />

    <h4>VISION</h4>
    <p>
    
        Our vision is to offer individuals the serene homes they truly deserve.
    </p><br />

    <h4>VALUES</h4>
    <p>
  
        Grounded in trust, passion, and the spirit of Ubuntu.
    </p><br />

    <h4>AREAS OF FOCUS INCLUDE:</h4>
    <p>
        Johannesburg <br />
        Cape Town
    </p>
</div>