@{
    ViewBag.Title = "Home";
}
<style>
    body {
        padding-top: 0px;
    }
</style>
<section id="landing-sect">
    <br />
    <div class="" id="outermaincard" style="z-index: 9999">
        <div id="main-card">
            <div class="text-center">
                <br />
                <h1>
                    A RISING PROPERTY FIRM LED BY WOMEN
                </h1>
                <br />
                <p style="letter-spacing: 3px;">
                    Committed to go above and beyond to discover the ideal home for you.
                </p>

                <br />

                <div class="" id="buttons-g">
                    <a href="/Property/Buy" class="btn btn-main pb-1">NEW LISITING</a>&nbsp;
                    <a href="/Property/Sell" class="btn btn-main pb-1">LIST A PROPERTY</a>&nbsp;
                    <a href="/Property/New_Development" class="btn btn-main">DEVELOPMENTS</a>
                </div>
            </div>
        </div>

    </div>
</section>
<footer class="footer" id="footers">
    <br />
    <p class="text-center">Copyright&copy; @DateTime.Now.Year - <i class="font-weight-bold">Go</i> Property</p>

</footer>