
@{
    ViewBag.Title = "Loan Calculator";
}
<br />
<div class="goPropLogo">
    <img src="~/images/GoProplogo.png" alt="Logo" />
</div>
<div class="container">
    <h1>LOAN CALCULATOR</h1>
    <br /><br />
    <div class="row" style="row-gap: 40px; column-gap: 40px;">
        <div class="loan-block col-sm-5">
            <br />
            <p class="l-head">AFFORDABILITY</p>
            <a href="https://www.ooba.co.za/home-loan/bond-calculator/" class="btn btn-sm btn-outline-dark text-light btn-fonts l-head-link" target="_blank">
                GO
            </a>
        </div>

        <div class="loan-block col-sm-5">
            <br />
            <p class="l-head">REPAYMENT</p>
            <a href="https://www.ooba.co.za/home-loan/bond-repayment-calculator/" class="btn btn-sm btn-outline-dark text-light btn-fonts l-head-link" target="_blank">
                GO
            </a>
        </div>

        <div class="loan-block col-sm-5">
            <br />
            <h5 class="l-head">TRANSFER COST</h5>
            <a href="https://www.ooba.co.za/home-loan/transfer-cost-calculator/" class="btn btn-sm btn-outline-dark text-light l-head-link" target="_blank">
                GO
            </a>
        </div>

        <div class="loan-block col-sm-5">
            <br />
            <h5 class="l-head">PRE APPROVAL</h5>
            <a href="https://my.ooba.co.za/#/obi/get-started" class="btn btn-sm btn-outline-dark text-light l-head-link" target="_blank">
                GO
            </a>
        </div>
    </div>
</div>
<br />